body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #24b437;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #24b437;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1c8a2b;
}

#resultados {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
}
