@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #d7e8e4;
    --secondary-color: #ffffff;
    --button-color: #5f3dc4;
    --text-color: #333;
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: var(--border-radius);
    font-size: 24px;
    color: var(--text-color);
}

h2{
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: var(--border-radius);
    font-size: 24px;
    color: var(--text-color);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

button:hover {
    background-color: #4b2fa5; 
}

input, select {
    width: 15%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

#historial {
    list-style: none;
    padding: 0;
}
